body {
  font-family: "Lato", sans-serif;
}

button {
  font-size: 14px;
}

/*CUSTOM CLASSES*/

img {
  max-width: unset;
}

main {
  height: calc(100% - 100px);
}

@media (max-width: 768px) {
  main {
    height: calc(100% - 66.56px);
  }
}

main.crumbs-comp {
  margin-top: -64px;
  overflow-y: scroll;
}

select {
  background: #ECECEC;
  border-radius: 0.375rem;
  margin: 2.5px;
}

input {
  background: #ECECEC;
}

.w-250 {
  width: 250px;
}

.w-button {
  width: 85px;
}

.container-fluid {
  padding: 0px 10px;
}

.h-100 {
  height: 100px;
}

@media (min-width: 768px) {
  .md\:h-100 {
    height: 100px;
  }

  .md\:w-button {
    width: 85px;
  }
}

.mt-100 {
  margin-top: 100px;
}

.bottom-500 {
  bottom: -525px;
  transition: all 0.5s ease;
}

.bottom-0 {
  transition: all 0.5s ease;
}

header {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.059);
}

aside {
  box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.071);
}

.container-article {
  overflow-y: scroll;
}

.container-article::-webkit-scrollbar {
  display: none;
}

.container-article .flickity-slider {
  display: flex;
  align-items: center;
}

.container-article .flickity-page-dots {
  position: unset;
}

.container-article .details,
.container-article .comment {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.059);
}

.container-article .carousel-cell img {
  max-height: 500px !important;
}

.description,
.comments {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.059);
}

.cards .imagegallery-img {
  width: 230px;
  height: 412px;
  box-shadow: rgba(0, 0, 0, 0.071) 0px 1px 5px 0px;
}

.cards .imagegallery-img .thumbnail img {
  max-width: 230px;
  width: 100%;
}

