@charset "UTF-8";
/* ===
  Fonts:
  - Open Sans
=== */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
/* ===
  Public Settings
=== */
*:focus {
    outline: none;
}
body{
  margin: 0;
  padding: 0;
}
/* ===
  Public Containers
=== */
.containerMain{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.popup{
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.popupContainerMain{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
@media screen and (min-width: 992px) {
  .containerMain{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
  .popup{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    height: 70vh;
    margin-top: 10vh;
    margin-bottom: 20vh;
  }
  .popupContainerMain{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
